@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
html {
  --bg: #f0f8ff;
  --primary-color: #0e6ffc;
  --text-color: #354b5c;
  --filler: #fff;
  --head: #6e6e6e;
  --font: "Satoshi", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Sora", var(--font);
}

body {
  line-height: 1.5;
  color: var(--text-color);
  padding: 20px;
}

a {
  text-decoration: none;
}

.details {
  width: 600px;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}
.details img {
  padding-top: 50px;
  width: 500px;
  height: 500px;
  display: block;
  margin: 0 auto;
}

.topnav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
  background: #fff;
  padding-top: 40px;
  transition: 200ms ease-in-out;
}
.topnav .search {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}
.topnav .search button {
  height: 70%;
  width: 100px;
  position: absolute;
  right: 10px;
  border: none;
  background-color: #0e6ffc;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
}
.topnav .search input {
  width: 500px;
  height: 32px;
  padding: 24px;
  border: 2px solid #f9f9f9;
  outline: none;
  border-radius: 25px;
  transition: 200ms ease;
  font-size: 15px;
}
.topnav .search input:focus {
  border: 2px solid lightgray;
}

.container {
  display: none;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
  width: 1000px;
  background: var(--filler);
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
  transition: 200ms ease-in-out;
  padding: 25px;
}
.container .main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.container .main .img-container {
  width: 100%;
  height: 100%;
}
.container .main .img-container img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.container .main .contents {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.container .main .contents .texts {
  margin-bottom: 40px;
}
.container .main .contents .texts .user {
  color: var(--text-color);
  font-size: 30px;
}
.container .main .contents .texts .other {
  font-size: 13px;
  margin-bottom: 16px;
  color: var(--head);
}
.container .main .contents .texts .username {
  color: var(--head);
  font-size: 16px;
}
.container .main .contents .texts .bio {
  color: var(--head);
  width: 500px;
  margin-bottom: 8px;
}
.container .main .contents .follow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
.container .main .contents .follow .count {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.container .main .contents .follow .count .num {
  font-size: 28px;
  margin-bottom: 5px;
  color: var(--primary-color);
}
.container .main .contents .follow .count p {
  font-size: 15px;
  color: var(--head);
}
.container .main .contents .buttons {
  width: 90%;
  display: flex;
  gap: 16px;
}
.container .main .contents .buttons button {
  display: block;
  cursor: pointer;
  height: 40px;
  width: 130px;
  border: none;
  border-radius: 25px;
}
.container .main .contents .buttons button:focus, .container .main .contents .buttons button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.container .main .contents .buttons .profile {
  background-color: var(--primary-color);
  flex: 2;
}
.container .main .contents .buttons .profile a {
  color: var(--bg);
}
.container .main .contents .buttons .twitter {
  background-color: var(--bg);
  color: var(--primary-color);
  flex: 1;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 767px) {
  body {
    padding: 10px;
    width: 100%;
  }
  .topnav .search {
    width: 100%;
  }
  .topnav .search input {
    height: 60px;
  }
  .details {
    width: 100%;
  }
  .details img {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .container .main {
    width: 100%;
    flex-wrap: wrap;
  }
  .container .main .contents .texts .bio {
    width: 100%;
  }
  .container .main .contents .texts .other {
    width: 100%;
  }
  .container .follow {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */